.dropdown__button {
  gap: .5em;
}
.dropdown__button svg {
  width: 1.1em;
}
.dropdown__body {
  width: max-content;
  max-height: 20em;
  overflow: auto;
  left: -1em;
}
.dropdown__body[data-state="open"] {
  animation: slideDownAndFade .2s var(--animation-fn);
}
.dropdown__body[data-state="closed"] {
  animation: slideUpAndFade .2s var(--animation-fn);
}
.dropdown__body .button {
  width: 100%;
  text-align: left;
  margin-left: 2px;
}
.dropdown__body svg {
  width: 1em;
}