header {
  display: flex;
  flex-wrap: wrap;
  height: 10em;
  border-bottom: var(--border);
}
header > * {
  width: 100%;
}
header button.open-search {
  display: none;
}
form.form-search {
  position: absolute;
  left: 0;
  top: 1px;
  width: 9rem;
  transition: transform .3s linear;
}
form.form-search > input {
  border: var(--border);
  background-color: white;
  padding: .5em 1em;
  width: 100%;
  border-radius: .3em;
  box-shadow: var(--shadow);
}
header .info {
  font-size: inherit;
  font-weight: normal;
  width: 100%;
  border-bottom: var(--border);
}
header nav {
  display: none;
}
header .logo {
  padding: .5em 2em;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
}
header button.open-menu {
  width: 5em;
  flex: 1;
  border-left: var(--border);
  border-right: var(--border);
  border-top: var(--border);
}
header button.open-menu::before, ::after {
  content: " ";
  text-indent: 0;
  position: absolute;
  right: 35%;
}
header button.open-menu::before {
  top: 45%;
  height: .2em;
  width: 2em;
  background-color: black;
}
header button.open-menu::after {
  top: calc(45% + .5em);
  height: .2em;
  width: 1.5em;
  background-color: black;
}
.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: clamp(35vw, 27rem, 100vw);
  background-color: white;
  height: 100vh;
  z-index: 2;
  right: 0;
  box-shadow: var(--shadow);
  padding: 5em 3em;
}
.side-bar__heading {
  font-size: 1.5rem;
  display: flex;
}
.side-bar__heading > button {
  margin-left: auto;
  font-size: 1.5rem;
}
.side-bar__heading > button:hover {
  background-color: transparent;
  opacity: .5;
}
.side-bar__heading > button:focus {
  background-color: transparent;
}
.side-bar__body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-right: 2em;
  overflow-x: auto;
}
.menu li {
  width: fit-content;
}
.cart > .side-bar__body {
  scrollbar-color: transparent;
  scrollbar-width: thin;
}
.cart > .side-bar__body:hover {
  scrollbar-color: #c1c1c1;
}
.cart > .side-bar__body::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}
.cart > .side-bar__body:hover::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 18%;
}
.side-bar__body li > a {
  display: flex;
  align-items: center;
  gap: .5em;
}
.side-bar svg {
  width: 1.1em;
}
.side-bar svg > path {
  fill: inherit;
}
header button.open-cart {
  position: relative;
  width: 5em;
  flex: 1;
  border-top: var(--border);
}
span.cart-count {
  position: absolute;
  border: 3px solid var(--button-bg-color);
  left: 50%;
  top: 10%;
  font-size: .9rem;
  background-color: #bd7d3d;
  color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 0;
}
.anchor {
  position: fixed;
}
.cart button.checkout {
  color: var(--color);
}
@media screen and (min-width: 18.5em) {
  header {
    height: 8em;
  }
  header .logo {
    padding-left: 0;
    padding-right: 0;
    width: calc(9rem - 1px); /* this is a hack. idk why it is 1px too big */
  }
  header button.open-menu, 
  header button.open-cart {
    border-top: none;
    flex: initial;
  }
  span.cart-count {
    top: 20%;
  }
  header button.open-menu {
    margin-left: auto;
  }
}
@media screen and (min-width: 48em) {
  header button.open-search {
    display: initial;
    order: -3;
    width: 9rem;
    border-bottom: var(--border);
    border-right: var(--border);
  }
  header .info {
    order: -2;
    width: calc(100% - 18rem);
  }
  header nav {
    border-left: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  header nav > * + * {
    margin-left: 4em;
  }
  header button.open-cart {
    order: -1;
    width: 9rem;
    border-left: var(--border);
    border-bottom: var(--border);
  }
  span.cart-count {
    top: 10%;
  }
  header button.open-menu {
    width: 9rem;
    border-right: none;
  }
}