main {
  padding: 2em;
}
main .product-container {
  display: grid;
  gap: 1em 1.5em;
  grid-template-columns: minmax(100px, 1fr);
}
main .heading {
  font-size: 1.5rem;
  height: auto;
  margin-bottom: 1.5em;
}
main :where(.product) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: var(--border);
  height: 25em;
}
main .product__add-to-wishlist {
  --size: 1.8rem;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: var(--border);
}
main .product__add-to-wishlist:hover {
  background-color: none;
}
main .product__add-to-wishlist > svg {
  width: calc(var(--size) / 2);
}
main .product__add-to-wishlist.is-liked > svg {
  animation: .3s like;
}
main .product__add-to-wishlist > svg > path {
  stroke: silver;
}
main .product__add-to-wishlist.is-liked > svg > path {
  fill: rgb(255, 95, 95);
  stroke: rgb(255, 95, 95);
  transition: .3s linear fill, 
    .3s linear stroke;
}
main .product__image {
  display: block;
  max-width: 100%;
  height: 60%;
  object-fit: contain;
}
main .product__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .product-end {
  color: var(--color);
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main .product__price {
  font-weight: bold;
  font-size: 1.3rem;
}
@media screen and (min-width: 23.43em) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
  main .heading {
    width: 200px;
    margin-left: 1em;
  }
  main .product-container {
    grid-template-columns: repeat(2, minmax(10em, 1fr));
    column-gap: 1em;
  }
  main .product:nth-child(2n) {
    margin-top: -4em; /* layout hack */
  }
}
@media screen and (min-width: 32.5em) {
  main {
    padding: 2em;
  }
  main .heading {
    width: initial;
    margin-left: initial;
  }
}
@media screen and (min-width: 48em) {
  main {
    --padding: calc(.5em + 5vw);
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  main .product-container {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
  main .product__add-to-wishlist {
    --size: 2.5rem;
  }
  main .product {
    width: 20em;
    border: none;
  }
  main .heading {
    width: 100%;
  }
  main .product-end {
    margin-top: 0;
  }
  main .product:nth-child(2n) {
    margin-top: 0; /* reset hack */
  }
}
.empty-page-message {
  margin-top: 5em;
  flex-direction: column;
  gap: 1em;
}
.empty-page-message > svg {
  width: 6em;
}
.empty-page-message > svg path {
  fill: grey;
}
@keyframes like {
  50% { transform: scale(.8); }
}