.product__amount-in-cart-control {
  display: flex;
  align-items: center;
  gap: 1em;
}
.product__amount-in-cart-control button {
  --size: 1.4em;
  font-size: 1.1rem;
  height: var(--size); width: var(--size);
  background-color: var(--color);
  color: white;
  border-radius: .2em;
  box-shadow: var(--shadow);
}
.product__amount-in-cart-control button:hover {
  opacity: .9;
}
.product__amount-in-cart-control button:disabled {
  opacity: .6;
}

.product-skeleton {
  gap: 1em;
  justify-content: unset;
}
.product-skeleton *:not(.product-end, .centered) {
  background-color: var(--skeleton-bg);
  animation: var(--skeleton-animation);
}
.product-skeleton .product__image {
  width: 50%;
  margin-left: calc(25%)
}
.product-skeleton .product__name {
  width: 100%;
  height: 1em;
  border-radius: 1em;
}
.product-skeleton .product__price {
  font-size: 1rem;
  width: 3em;
  height: 1em;
  border-radius: 1em;
}
.product-skeleton .product__add-to-cart {
  width: 4em;
  height: 1.5em;
  border-radius: .2em;
}