.product__amount-in-cart-control {
  display: flex;
  align-items: center;
  gap: 1em;
}
.product__amount-in-cart-control button {
  --size: 1.4em;
  font-size: 1.5rem;
  height: var(--size); width: var(--size);
  background-color: var(--color);
  color: white;
  border-radius: .2em;
  box-shadow: var(--shadow);
}
.product__amount-in-cart-control button:hover {
  opacity: .9;
}
.product__amount-in-cart-control button:disabled {
  opacity: .6;
}

.product-skeleton *, .product-skeleton *::after {
  background-color: var(--skeleton-bg);
  animation: var(--skeleton-animation);
}
.product-skeleton .product__text {
  position: relative;
  width: calc(100% - 4em);
  height: 1em;
}
.product-skeleton .product__text::after {
  position: absolute;
  content: '';
  width: 20%;
  height: inherit;
  bottom: -1.3em;
  left: 0;
}
