.product__amount-in-cart-control {
  display: flex;
  align-items: center;
  gap: 1em;
}
.product__amount-in-cart-control button {
  --size: 1.4em;
  font-size: 1.5rem;
  height: var(--size); width: var(--size);
  background-color: var(--color);
  color: white;
  border-radius: .2em;
  box-shadow: var(--shadow);
}
.product__amount-in-cart-control button:hover {
  opacity: .9;
}
.product__amount-in-cart-control button:disabled {
  opacity: .6;
}

.product-skeleton {
  gap: 1em;
  justify-content: unset;
}
.product-skeleton *:not(.product-end) {
  background-color: var(--skeleton-bg);
  animation: var(--skeleton-animation);
}
.product-skeleton .product__name {
  width: calc(100% - 2em);
  height: 1em;
}
.product-skeleton .product-end > * {
  height: 1.3em;
}
.product-skeleton .product__price {
  width: 4em;
}
.product-skeleton .product__add-to-cart-button {
  width: 4em;
}