:root {
  box-sizing: border-box;
  font-family: 'Product Sans';
  --border: 1px solid silver;
  --skeleton-bg: rgb(143, 143, 143);
  --skeleton-animation: 2s pulsate ease infinite;
  --shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}
*, ::before, ::after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}
ul {
  list-style-type: none;
}
a {
  cursor: pointer;
}
a {
  position: relative;
  outline-offset: 3px;
}
a::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 3px solid currentColor;
  transition: .3s ease-out width;
}
a:hover::after, a:focus::after {
  width: 100%;
}
button {
  font-size: .9rem;
}
:where(button:hover, button:focus) {
  background-color: rgba(221, 221, 221, 0.3);
}
button > span.icon {
  font-size: 1.5rem;
  margin-left: .5em;
}
.cta-link {
  font-weight: bold;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button {
  position: relative;
  overflow: hidden;
  text-indent: 999em;
}
.button {
  border-radius: .5em;
  padding: .5em;
}
.overlay {
  position: absolute;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: var(--shadow);
}
svg {
  width: 1.5rem;
  height: min-content;
}

@keyframes pulsate {
  50% { background-color: rgb(209, 209, 209); }
}